/* Нужно попробовать сделать ширину меньшее или больше. При 1415 не влазит на весь экран. */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1415px;
    max-height: 100px;
    margin-top: 50px;
    margin-left: 98px;
}

.header__mainLogo {
    display: flex;
    width: 44px;
    height: 44px;
}

.mainLogo {
    background-repeat: no-repeat;
    background-image: url(../img/logo.jpg);
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 663px;
    height: 60px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
}

.header__navigationLinkFirst {
    margin-right: 15px;
    font-size: 16px;
    font-family: 'IRegular';
    text-decoration: none;
    color: var(--c-cobalt-blue);
    margin-right: 30px;
}

.header__navigationLink {
    margin-right: 15px;
    font-size: 16px;
    font-family: 'IRegular';
    text-decoration: none;
    color: var(--c-light-gray);
    margin-right: 30px;
}
