.touristThird {
    grid-area: touristThird;
    display: flex;
    max-width: 1205px;
    height: 542px;
    margin-top: 262px;
    margin-left: 160px;
}

.touristThird__firstBlock {
    display: flex;
    flex-direction: column;
    max-width: 481px;
    height: 303px;
    margin-right: 49px;
    margin-top: 100px;
}

.touristThird__secondBlock {
    width: 699px;
    height: 542px;
    background-image: url(../img/touristThird.jpg);
    background-repeat: no-repeat;
}

.touristThird__title__block {
    max-width: 481px;
    height: 100px;
    font-family: 'PDBold';
    font-size: 36px;
    line-height: 50px;
    color: var(--c-black);
    margin-top: 30px;
    margin-bottom: 50px;
}

.touristThird__title {
    margin-top: 40px;
}

.touristThird__text {
    max-width: 450px;
    height: 90px;
    font-family: 'MReg';
    font-size: 17px;
    line-height: 30px;
    color: var(--c-dusty-gray);
    margin-bottom: 33px;
}