.travelDirections {
    grid-area: travelDirections;
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 532px;   
    margin-top: 262px;
    margin-left: 160px;
    
}

.travelDirections__text {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 60px;
    margin-bottom: 56px;   
}

.travelDirections__title {
    display: flex;
    justify-content: space-between;
    width: 481px;
    height: 50px;
    color: var(--c-black);
    font-family: 'PDBold';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
}

.viewall {
    width: 79px;
    height: 60px;
    background-image: url(../img/view-all.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
}

.travelDirections__pictures {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 337px;
}

.travelDirections__first__pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 261px;
    height: 337px;
    background-repeat: no-repeat;
    background-image: url(../img/raja-ampat.jpg);
}

.travelDirections__name {
    font-size: 17px;
    line-height: 25px;
    font-family: 'IRegular';
    font-weight: bold;
}

.travelDirections__country {
    font-size: 15px;
    line-height: 24px;
    color: var(--c-gray-window);
}

.travelDirections__second__pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 261px;
    height: 337px;
    background-repeat: no-repeat;
    background-image: url(../img/fanjingshan.jpg);
}

.travelDirections__third__pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 261px;
    height: 337px;
    background-repeat: no-repeat;
    background-image: url(../img/vevey.jpg);
}

.travelDirections__fourth__pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 261px;
    height: 337px;
    background-repeat: no-repeat;
    background-image: url(../img/skadar.jpg);
}