.trendingStories {
    grid-area: trendingStories;
    width: 1222px;
    height: 684px;
    margin-top: 213px;
    margin-left: 240px;
    
}

.trendingStories__text {
    width: 1222px;
    height: 60px;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 56px;
}

.trendingStories__title {
    display: flex;
    justify-content: space-between;
    width: 481px;
    height: 50px;
    color: var(--c-black);
    font-family: 'PDBold';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    /* margin-bottom: 156px; */
}

.viewall {
    width: 79px;
    height: 60px;
    background-image: url(../img/view-all.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
}

.trendingStories__pictures {
    display: flex;
    justify-content: space-between;
    width: 1222px;
    height: 684px;
}

.trendingStories__first__pic {
    width: 266px;
    height: 446px;
    background-image: url(../img/blog01.jpg);
}

.trendingStories__second__pic {
    width: 266px;
    height: 446px;
    background-image: url(../img/blog02.jpg);
}

.trendingStories__third__pic {
    width: 266px;
    height: 446px;
    background-image: url(../img/blog03.jpg);
}

.trendingStories__fourth__pic {
    width: 266px;
    height: 446px;
    background-image: url(../img/blog04.jpg);
}