:root {
    --c-light-carrot:#FB8F1D;
    --c-light-gray:#B8BECD;
    --c-cobalt-blue:#202336;
    --c-white:#FFFFFF;
    --c-gray-window:#AFB0B9;
    --c-graphite-gray:#4A4C53;
    --c-black:#000000;
    --c-dusty-gray:#7D7987;
    --c-ghostly-white: #F9F9FB;
    --c-pearl-dark-gray:#848484;
}